<footer class="py-12 max-w-[1200px] mx-auto px-[4vmin] xl:px-0">
    <nav class="flex flex-wrap justify-center">
        <div class="px-5 py-2">
            <a href="/about" class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-500">
                About
            </a>
        </div>
        <div class="px-5 py-2">
            <a href="/contact" class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-500">
                Contact
            </a>
        </div>
        <div class="px-5 py-2">
            <a href="/terms-and-conditions" class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-500">
                Terms
            </a>
        </div>
    </nav>
    <div class="flex justify-center mt-8 gap-2">
        {{> "social-links" twitter=@custom.twitter facebook=@custom.facebook instagram=@custom.instagram linkedin=@custom.linkedin github=@custom.github gitlab=@custom.gitlab }} 
    </div>
    <p class="mt-8 mb-12 text-base leading-6 text-center text-gray-400">
        © <span class="current-year"></span> {{@site.title}}. All rights reserved.
    </p>
</footer>

<script>
    const currentYear = new Date().getFullYear();
    document.querySelector('.current-year').textContent = currentYear;
</script>