<ul class="flex flex-col h-max lg:flex-row gap-6 justify-center items-center">
    {{#if @site.navigation}}
        {{#foreach navigation}}
            <li>
                <a href="{{url absolute="true"}}" class="font-bold text-2xl lg:text-base lg:font-normal">
                    {{ label }}
                </a>
            </li>
        {{/foreach}}
    {{/if}}
</ul>