{{!< default}}

{{#post}}
    <article class="{{post_class}} gh-canvas kg-width-full">
        <div class="prose max-w-none dark:prose-invert gh-canvas kg-width-full">
            {{content}}
        </div>
    </article>
{{/post}}
